<form action="">
    <mat-card>
      <mat-card-header>
        <mat-card-title>登录：</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput type="text" align="end" placeholder="您的email">
          <span matSuffix>@gmail.com</span>
          <mat-hint align="start">必填项</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" >
          <input matInput type="password" placeholder="您的密码">
        </mat-form-field>
        <button mat-mini-fab color="accent" type="button">登录</button>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <p>还没有账户？<a href="">注册</a></p>
        <p>忘记密码？<a href="">找回</a></p>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>每日佳句</mat-card-title>
        <mat-card-subtitle>
          {{quote.cn}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="quote.pic" alt="quote">
      <mat-card-content>
        {{quote.en}}
      </mat-card-content>
    </mat-card>
</form>
