<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm, $event)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>登录：</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput type="email" align="end" placeholder="您的email" formControlName="email">
          <span matSuffix>@gmail.com</span>
          <mat-hint align="start">必填项</mat-hint>
          <mat-error>{{loginForm.controls['email'].errors | json}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" >
          <input matInput type="password" placeholder="您的密码" formControlName="password">
        </mat-form-field>
        <button mat-mini-fab color="accent" type="submit" [disabled]="!loginForm.valid">登录</button>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <p>还没有账户？<a href="">注册</a></p>
        <p>忘记密码？<a href="">找回</a></p>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>每日佳句</mat-card-title>
        <mat-card-subtitle>
          {{(quote$ | async).cn}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="(quote$ | async).pic" alt="quote image">
      <mat-card-content>
        {{(quote$ | async).en}}
      </mat-card-content>
    </mat-card>
</form>
